@use "../abstracts/variables";
@use "../base/fonts";

.shipping {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
    height: 400px;
    border-radius: 70px 70px 70px 70px;
    overflow: hidden;
    padding: 60px;
    margin: 50px;

    /* Контейнер с фоном */
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 99%;
        height: 99%;
        background-image: url('../img/delivery.jpg');
        background-size: cover;
        background-position: center;
        z-index: 0;
    }

    &__content {
        display: contents;
        z-index: 1;
        padding: 40px;
    }


    &__text {
        grid-column: 2;
        text-align: right;
        color: black;
        padding-left: 40px;
        font-weight: 500;
        z-index: 1;
        /* Текст выше фона */
    }

    &__title {
        font-size: 36px;
        font-family: variables.$font-family;
        line-height: 1.5;
        margin-bottom: 10px;
        font-weight: 500;

        .shipping__highlight {
            &--green {
                color: green;
                font-style: italic;
            }

            &--orange {
                color: orange;
                font-style: italic;
            }


        }
    }
}