@use "../abstracts/variables";
@use "../base/fonts";

.shipping {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
    border-radius: 70px;
    overflow: hidden;
    padding: 5vw;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    min-height: 100vh;



    &:before {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/delivery.jpg');
        background-size: cover;
        background-position: center;
        z-index: 0;
    }

    &__content {
        display: contents;
        z-index: 1;
        padding: 40px;
    }

    &__text {
        grid-column: 2;
        text-align: right;
        color: rgb(0, 0, 0);
        padding-left: 2.5rem;
        font-weight: 500;
        z-index: 1;
        font-size: 1.25rem;
        line-height: 1.5;
    }

    &__title {
        font-size: 3vw;
        font-family: variables.$font-family;
        line-height: 1.5;
        margin-bottom: 1rem;
        font-weight: 500;

        .shipping__highlight {
            &--green {
                color: rgb(0, 128, 0);
                font-style: italic;
            }

            &--orange {
                color: rgb(255, 165, 0);
                font-style: italic;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .shipping {
        grid-template-columns: 1fr 1fr;
        height: 500px;
        padding: 6rem;
        margin: 0 auto 3rem;
    }

    .shipping__text {
        text-align: right;
    }

    .shipping__title {
        font-size: 3rem;
    }
}

@media (max-width: 1024px) {
    .shipping {
        display: flex;
        flex-direction: column-reverse;
        padding: 4rem;
        margin: 0 auto 3rem;
        height: auto;

        &:before {
            background-image: url('../img/delivery_tablet.jpg');
            background-size: cover;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 400px;
        }

        .shipping__text {
            display: block;
            text-align: center;
            font-size: 0.875rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;

        }
    }

    .shipping__title {
        font-size: 2rem;
        text-align: center;
        line-height: 1.2;
    }

    .shipping__highlight {
        display: none;
    }


    .shipping__highlight--orange {
        display: none;
    }
}

@media (max-width: 370px) {
    .shipping {
        display: flex;
        flex-direction: column-reverse;
        padding: 2rem;
        margin: 0 auto 3rem;
        width: 100%;
        height: auto;

        &:before {
            background-image: url('../img/delivery_mobil.jpg');
            order: 1;
            content: '';
            background-size: cover;
            min-height: 200px;
            background-position: center;
            width: 100%;
            height: 200px;
        }

        .shipping__text {
            display: block;
            text-align: center;
            font-size: 0.75rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }
    }

    .shipping__title {
        font-size: 1rem;
        text-align: center;
        line-height: 1.2;
    }

    .shipping__highlight {
        font-size: 0.875rem;
    }
}