@use "../abstracts/variables";
@use "../base/fonts";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    font-family: variables.$font-family;


    &__nav {
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }

            a {
                text-decoration: none;
                color: variables.$primary-color;
                font-size: 14px;

                &:hover {
                    color: variables.$accent-color; // Изменение цвета при наведении
                }
            }
        }
    }


    // Логотип
    &__logo {
        display: flex;
        align-items: center;


        &-wrapper {
            display: flex;
            align-items: center;
            gap: 8px; // Расстояние между логотипом и текстом
        }

        &-icon {
            width: 50px;
            height: 50px;
            background-image: url('../img/logo.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }


        &-text {
            font-size: 16px;
            font-weight: bold;
            color: variables.$primary-color;
            font-family: variables.$font-family;
        }
    }

    // Корзина
    &__cart {
        font-size: 20px;
        color: #333;
        cursor: pointer;

        &:hover {
            color: greenyellow; // Цвет при наведении
        }
    }
}