@use "../abstracts/variables";
@use "../base/fonts";

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: rgba(161, 196, 135, 1);
    padding-top: 5vw;
    padding-bottom: 2vw;
    font-family: variables.$font-family;
}

.circls {
    width: 45%;
}

.container-1 {
    display: flex;
    flex-direction: column;
}

.container-2 {
    display: flex;
    flex-direction: column;
    margin-right: 4vw;
}

.button-round {
    background-color: rgba(250, 243, 231, 1);
    font-family: variables.$font-family;
    color: rgba(252, 138, 17, 1);
    text-align: center;
    border-radius: 100%;
    width: 132px;
    height: 132px;
    font-size: 1.5rem;
    border-color: rgba(250, 243, 231, 1);
    margin-top: 1vw;
}

.button-oval {
    border: solid white 1px;
    border-radius: 40px;
}

.title-1 {
    font-family: variables.$font-family;
    color: white;
    font-size: 4rem;
}

.title-2 {
    font-family: variables.$font-family;
    color: white;
    font-size: 0.8rem;
}

.group-of-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 1fr;*/
    justify-items: end;
    padding-left: 10vw;
    margin-top: 5vw;
}

.button-oval-1 {
    width: 125px;
    height: 38px;
}

.button-oval-2 {
    width: 133px;
    height: 38px;
}

.button-oval-3 {
    width: 115px;
    height: 38px;
}

.button-oval-4 {
    width: 143px;
    height: 38px;
}

.girl {
    width: 120%;
}