$primary-color: #0a0a0a; // Основной цвет текста
$accent-color: #4caf50; // Акцентный цвет (зелёный)
$light-brown-color: #FAF3E7; //светло-бежевый цвет
$light-green-color:rgba(234, 247, 229, 1);
$orange-color:rgba(252, 138, 17, 1);
$font-family:'DM Sans';